<div class="container">
    <div class="middle-container" >
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <img [src]="retrivedRecipe.imgPath">
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="content">
                    <div >
                        <div  >
                            <h2>{{retrivedRecipe.dishName}}</h2>
                            <h6>Rs. {{retrivedRecipe.price}}</h6>
                            <div>
                                <p>{{retrivedRecipe.description}}</p>
                                <br><h6>Ingredients</h6>
                                <ul>
                                    <li *ngFor="let ingredient of retrivedRecipe.ingredients">{{ingredient}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>