<div class="container">
    <div class="middle-container"  *ngFor="let recipe of allRecipes">
        <mat-grid-list cols="2" rowHeight="2:1"  *ngFor="let item of recipe.NorthIndian">
            <mat-grid-tile>
                <img [src]="item.starter[0].imgPath">
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="content">
                    <div >
                        <div  >
                            <h2>{{item.starter[0].dishName}}</h2>
                            <h6>Rs. {{item.starter[0].price}}</h6>
                            <div>
                                <p>{{item.starter[0].description}}</p>
                                <br><h6>Ingredients</h6>
                                <ul>
                                    <li>Paneer</li>
                                    <li>Corn Flour</li>
                                    <li>Olive Oil</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>