<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let item of menuItems">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item}}
          </mat-panel-title>
          
        </mat-expansion-panel-header>
    
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.starter}}
              </mat-panel-title>
              
            </mat-expansion-panel-header>
        
           item
          </mat-expansion-panel>
      </mat-expansion-panel>
   
  
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          South Indian
        </mat-panel-title>
        
      </mat-expansion-panel-header>
  
     starter
    </mat-expansion-panel> -->
  </mat-accordion>
  