/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography h2 {
  font-size: 26px;
  font-weight: bold;
  font-weight: 500;
}

.mat-typography h6 {
  font-size: 22px;

}

.middle-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 40px;
}
